<div class="sticky-top _bg-primary">
	<div class="container">
		<mat-toolbar class="_bg-primary p-0">
			<a [routerLink]="['/']" class="fw-700 _text-light">
				<img
					src="https://www.qaroni.com/assets/images/logos/qaroni-logo-white@2x.svg"
					alt="Qaroni logo"
					height="45px"
				/>
			</a>

			<div class="-spacer"></div>

			<a
				[routerLink]="['/news']"
				class="mx-2 mx-md-3 text-sm _text-light fw-600 d-inline-flex align-items-center"
			>
				<i class="far fa-newspaper mr-1 text-lg"></i>
				<span class="d-none d-md-inline">Noticias</span>
			</a>

			<a
				*ngIf="!isLogged"
				[routerLink]="['/login']"
				class="mx-2 mx-md-3 text-sm _text-light fw-600 d-inline-flex align-items-center"
			>
				<i class="fas fa-sign-in-alt mr-1 text-lg"></i>
				<span class="d-none d-md-inline">Login</span>
			</a>

			<a
				*ngIf="isLogged"
				routerLink="/groups"
				class="mx-2 mx-md-3 text-sm _text-light fw-600 d-inline-flex align-items-center"
			>
				<i class="fas fa-users mr-1 text-lg"></i>
				<span class="d-none d-md-inline">Grupos</span>
			</a>
			<a
				*ngIf="isLogged"
				(click)="logout()"
				class="mx-2 ml-md-3 text-sm _text-light fw-600 d-inline-flex align-items-center"
			>
				<i class="fas fa-sign-out-alt mr-1 text-lg"></i>
				<span class="d-none d-md-inline">Salir</span>
			</a>
		</mat-toolbar>
	</div>
</div>
